.example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('../../assets//folder.png');
    background-size: cover;
  }
  .wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }
  .btn{
      background-color: rgb(51, 161, 212);
  }