<!-- <div class="card-deck p-4">
  <div class="card" *ngFor="let product of products">
    <div *ngIf="product.topFolderId === 82">
      <img class="card-img-top" src="" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ product.price | currency }}</small>
      </div>
      <button (click)="goToSubFolders(product.id)" class="btn btn-primary">
        tiklayiniz
      </button>
    </div>
  </div>
</div> -->
    <div class="wrapper">
    <mat-card class="example-card" *ngFor="let product of products">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets//folder.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class='btn' mat-button (click)="goToSubFolders(product.id)">TIKLAYINIZ</button>
      </mat-card-actions>
    </mat-card>
  </div>
